@import "../../../app/style/_colors.scss";

.grid-wrapper {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: [header] 200px [content] 1fr [footer] 200px ;
  grid-template-areas: "header" "content" "footer";
  header {
    display: grid;
    grid-area: header;
    background: $ligthGray;
    color: $black;
    justify-content: center;
    align-items: center;
  }
  footer {
    display: grid;
    grid-area: footer;
    background: $ligthGray;
    color: $black;
    justify-content: center;
    align-items: center;
  }
}
