@import "../../../app/style/_colors.scss";
@import "../../../app/style/_media.scss";

.main_content {
  display: grid;
  color: $gray;
  grid-area: content;
  font-weight: 300;
  justify-content: center;align-items: center;
}
